swagger: '2.0'
info:
  version: "0.1"
  title: 'DRIVER APP Staging '
  description: 'DRIVER APP Staging'

host: api.kumulos.com 
basePath: /b2.2/2fe006a7-4a3d-45fe-814c-cf820e34b91a

x-flopro-kumulosrpc: true

schemes:
  - https
securityDefinitions:
  basicAuth:
    type: basic

# To apply Basic auth to the whole API:
security:
  - basicAuth: []

paths:

  /drDataSync.json/:
    post:
      summary: Driver App Data Sync
      description: Driver App Data Sync
      tags:
        - 1. Driver App
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[localDataChanges]
          type: string
          description: localDataChanges
          required: false
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties:
                  checklistCount:
                    type: integer
                  checklist:
                    type: array
                    items:
                      type: object
                      properties:
                        checkDescription:
                          type: string
                        answer:
                          type: string
                        comments:
                          type: string
                        images:
                          type: array
                          items:
                            type: object
                            properties:
                              filename:
                                type: string
                              imageData:
                                type: string
                                format: byte
                  tourData:
                    type: array
                    items:
                      type: object
                      properties:
                        tourDescription:
                          type: string
                        status:
                          type: string
                        jobs:
                          type: array
                          items:
                            type: object
                            properties:
                              jobDescription:
                                type: string
                              status:
                                type: string
                              mileage:
                                type: integer
                              serviceLines: 
                                type: array
                                items:
                                  type: object
                                  properties:
                                    serviceDescription:
                                      type: string
                                    quantity:
                                      type: integer
                                    comments:
                                      type: string
                                    images:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          filename:
                                            type: string
                                          imageData:
                                            type: string
                                            format: byte
                    
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double

  
  
  
  
  /umLogout.json/:
    post:
      summary: Logout Remove InstallID against Logged in User
      description: Remove InstallID against Logged in User
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[installID]
          type: string
          description: Notification Install ID
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
  
  /umStoreInstallID.json/:
    post:
      summary: Store Notification InstallID against Logged in User
      description: Store Notification InstallID against Logged in User
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[jwt]
          type: string
          description: jwt
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        - in: formData
          name: params[installID]
          type: string
          description: Notification Install ID
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
  
  
  
  /umSendUserPushNotification.json/:
    post:
      summary: SendUserPushNotification
      description: SendUserPushNotification
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[backendIdentifier]
          type: string
          description: backendIdentifier
          required: true
        - in: formData
          name: params[navUserName]
          type: string
          description: navUserName
          required: true
        - in: formData
          name: params[notificationTitle]
          type: string
          description: notificationTitle
          required: true
        - in: formData
          name: params[notificationMessage]
          type: string
          description: notificationMessage
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties: 
                  appId:
                    type: integer
                  source:
                    type: integer
                  status:
                    type: integer
                  filters: 
                    type: string
                  title:
                    type: string
                  message:
                    type: string
                  data:
                    type: string
                  updatedAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  id:
                    type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
  
  /umChangePassword.json/:
    post:
      summary: Change Password with forgotten password code
      description: Change Password with forgotten password code
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[password]
          type: string
          description: password
          required: true
        - in: formData
          name: params[changePasswordCode]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
  
  /umForgottenPassword.json/:
    post:
      summary: Request forgotten password code
      description: Request forgotten password code
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
  
  /umCreateNavUser.json/:
    post:
      summary: To create a nav user in HUB called from NAV system
      description: To create a nav user in HUB  called from NAV system
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[backendIdentifier]
          type: string
          description: backendIdentifier
          required: true
        - in: formData
          name: params[navUserName]
          type: string
          description: navUserName 
          required: true
        - in: formData
          name: params[navServiceKey]
          type: string
          description: navServiceKey
          required: true
        - in: formData
          name: params[firstName]
          type: string
          description: firstName
        - in: formData
          name: params[lastName]
          type: string
          description: lastName
        - in: formData
          name: params[jwtExpiryTime]
          type: string
          description: user jwt expiry time
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
                
        default:
          description: Failed Server Response
  
  /umregisterEmailUser.json/:
    post:
      summary: Register User with Activation Code
      description: Register User with Activation Code
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[password]
          type: string
          description: password of User
          required: true
        - in: formData
          name: params[activationCode]
          type: string
          description: activation Code 
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: clientIdentifier
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: integer
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double
  
        default:
          description: Failed Server Response
  
  /umlogin.json/:
    post:
      summary: Login
      description: Login
      tags:
        - 0. User Management
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: formData
          name: params[email]
          type: string
          description: emailaddress of User
          required: true
        - in: formData
          name: params[password]
          type: string
          description: password of User
          required: true
        - in: formData
          name: params[clientIdentifier]
          type: string
          description: client Identifier
          required: true
        
      responses:
        200:
          description: Return a standard response format for JSONRPC - if responseCode in this response is a success (1). Any other response code is an error.
          schema:
            type: object
            properties:
              responseCode:
                type: integer
              responseMessage:
                type: string
              payload:
                type: object
                properties: 
                  token:
                    type: string
                  expiresAt:
                    type: string
                  Company_Name:
                    type: string
                  Name:
                    type: string
                  E_Mail:
                    type: string
                  First_Name:
                    type: string
                  Surname:
                    type: string
              sessionToken:
                type: string
              requestedMethod:
                type: string
              requestedFormat:
                type: string
              timestamp:
                type: string
                format: time
              requestReceivedTime:
                type: string
                format: time
              maxAllowedRequestTime:
                type: integer 
              requestProcessingTime:
                type: string
                format: double